# Root-level ignores
.DS_Store
node_modules/
dist/
.env
.vscode/

# Foundry (contracts) project ignores
contracts/out/
contracts/cache/
contracts/lib/

# Frontend (React) project ignores
frontend/node_modules/
frontend/dist/
frontend/.env
